.page-footer {
    background-color: var(--block-color);
    padding-top: 60px;
    padding-bottom: 60px;

}



.adress {
    font-style: normal; 
    margin-top: 20px;
}

.adress__list:not(:first-child) {
    margin-top: 10px;
  }


.adress__map {
    line-height: 1.71;
    color: var(--white-color);


}

.adress__mail {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--timing-fuction);

    &:hover, &:focus{
        color: var(--accent-color);
    }

}

.adress__number {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--timing-fuction);
    
    &:hover, &:focus{
        color: var(--accent-color);
    }

}

@media screen and (max-width: 767px) {
    .footer__block{
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .adress{
      text-align: center;
    }
}

@media screen and (min-width:768px) {
    .footer__content{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .footer__item{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
    }
}


@media screen and (min-width:1200px) {
    .footer__block{
    display: flex;
    align-items: baseline;
    column-gap: 70px;
}

.footer__content{
    gap: 70px;
}

.footer__item{
    margin-bottom: 0;
}
}
   
