.work-filtr {
    display: flex;
    margin-bottom: 50px;
    gap: 8px;

}


.work-filtr__button {
    border: none;
    border-radius: 4px;

    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background: var(--back-buttons-color);
    color: var(--title-color);
    transition: color var(--timing-fuction), box-shadow var(--timing-fuction), background-color var(--timing-fuction);
    cursor: pointer;

    &:hover, &:focus{
    background: #2196F3;
    color: var(--white-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    }
}

.work-filtr__button.current {
    background-color: var(--accent-color);
    color: var(--white-color);


}

@media screen and (max-width: 767px) {
    .work-filtr{
        flex-wrap: wrap;
        column-gap: 15px;
    }
}

@media screen and (min-width: 768px) {
    .work-filtr{
    align-items: center;
    justify-content: center;
    }
    
}
